$bpDesktop: 1440px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 768px;
$bpPhone: 480px;

// set font
$baseFont: "Montserrat", "Arial", sans-serif;

// set setting color
$pageColor: #1c1d25;
$primaryColor: #32333f;
$redColor: #f25757;
$blueColor: #235aa6;
